* {
    margin: 0; /* globální reset aby se začalo od nuly */
    padding: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    backface-visibility: hidden;
    scroll-behavior: smooth;
  }
  body{
    background-color: var(--color-primary-light);
    position: relative;
  }
  section{
    height: 100vh;
  }
  .content {
    width: 75%;
    margin-left: auto;
    margin-right: 10rem;
  }