:root {
  --color-primary-light: #f6eadf;
  --color-primary-dark: #e6cbb0;
  --color-secondary: #c1a283;
  --color-secondary-dark: #84593e;
  --color-font-dark: #52392a;
  --color-font-light: #84593e;
  --color-font-shadow: #eedac7;
  --color-white: #fff;
  --color-border: #d9d9d9;
}
